<!DOCTYPE html>
<html>
  <head>
    <title>OA系统-登陆</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include links %>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css'/>
    <style type="text/css">
    .content-center {
      margin:auto!;
      background: url('/images/background.jpg');
      background-repeat:no-repeat;
      height: 500px;
      width: 600px;
      text-align: center;
      padding-top: 230px;
      padding-left: 180px;
    }
    </style>
  </head>
  <body class='body-login'>
    <div class='content-center container'>
      <form action='/login' method='post'>
        <div class='row-fluid'>
          <div>
            <label>欢迎使用OA系统,请登陆</label>
          </div>
        </div>
        <div class='row-fluid'>
          <div>
            <input class='form-control button-block'  placeholder='用户名' type='text' name='userName'>
          </div>
        </div>
        <div class='row-fluid'>
          <div>
            <input class='form-control'  placeholder='密码' type='text' name='password'>
          </div>
        </div>
        <div class='row-fluid'>
          <div>
            <button class='form-control button button-primary button-large' style='width:166px' >登陆</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>