<html>
<head>
  <title>statistics</title>
  <link rel="stylesheet" type="text/css" href="/bui/css/bs3/bui-min.css">
  <link rel="stylesheet" type="text/css" href="/bui/css/bs3/dpl-min.css">
  <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
</head>
<body>
  <div class="header">
    <div style="float:left;width:400px">
      <img height='100%' src="/images/logo.png">
      <label class="title">万和数据OA系统</label>
    </div>
    <div style="float:right;height:100px;">
      <div id="user">
        <% include userTemplate %>
      </div>
      <ul id="menu">
        <li><a href="/customers/2">客户管理</a> </li>
        <li><a href="/statistics/user">统计信息</a> </li>
      </ul>
    </div>
  </div>
  <div class="wrap">
    <div class="search-bar">
      <form id="form-search" class="form-horizontal">
          <div class="row">
            <div class="control-group span10">
              <label class="control-label">起止日期：</label>
              <div class="controls bui-form-group" data-rules="{dateRange : true}">
                <input id="queryTimeStart" name="timeStart" class="span10 calendar" type="text"><label>&nbsp;-&nbsp;</label>
                <input id="queryTimeEnd" name="timeEnd" class="span10 calendar" type="text">
              </div>
            </div>
            <div class="control-group span8">
              <label class="control-label">快速选择</label>
              <div class="controls">
                <select id="quickChoice" class="span">
                  <option value='1'>今天</option>
                  <option value='2'>本周</option>
                  <option value='3'>本月</option>
                  <option value='4'>一个月内</option>
                  <option value='5'>三个月内</option>
                  <option value='6'>半年内</option>
                  <option value='7'>一年内</option>
                </select>
              </div>
            </div>
            <div class="form-actions span4">
              <button id="btnSearch" type="submit" class="button button-primary">搜索</button>
            </div>
          </div>
      </form>
    </div>
    <div class="">
      <div id='grid'></div>
    </div>
  </div>
</body>
</html>

<% include scripts %>
<script type="text/javascript" src="/javascripts/assets/statisticsUser.js"></script>