<html>
  <head>
    <title>Company Manage</title>
    <link rel="stylesheet" type="text/css" href="/bui/css/bs3/bui-min.css">
    <link rel="stylesheet" type="text/css" href="/bui/css/bs3/dpl-min.css">
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
  </head>
  <body >
      <div class="header">
        <div style="background:#f00">
          <div class="logo span3" ></div>
          <div class="title span17" ></div>
          <div class="span4">
            <span><%=user.userName%></span>
            <a href="/logout">退出</a>
          </div>
        </div>
      </div>
      <div class="wrap">
        <div class="sidebar">
          <ul class="clearfix" id="nav">
            <li><a href="/users/user">员工管理</a> </li>
            <li><a href="/info">统计信息</a> </li>
          </ul>
        </div>
        <div class="content">
            <div class="row-fluid search-bar">
              <div class="span24">
                <div class="">
                  <form id="form_search">
                  <label class="span">姓名:</label><input class="span" type="text" name="userName">
                  <label class="span">工号:</label><input class="span" type="text" name="userId">
                  <button  class="span button button-primary">查找</button>
                  </form>
                  <ul class="toolbar " style="float:right">
                    <li><button  id="btn_add_user" class="button button-primary">+</button></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span24">
                <div id='grid'></div>
              </div>
            </div>
        </div>
      </div>
  </body>
</html>

<div id="dialog_add_user" class="hide">
  <form id="form_add_user" class="form-horizontal">
    <div class="row-fluid">
      <div class="span8">
        <span class="span7">员工帐号:</span>
        <span class="span14">
          <input type="text" name="userId" class="span22">
        </span>
      </div>
      <div class="span8">
        <span class="span8">密码:</span>
        <span class="span14">
          <input type="text" name="password" class="span22">
        </span>
      </div>
      <div class="span7">
        <span class="span8">姓名:</span>
        <span class="span14">
          <input type="text" name="userName" class="span22">
        </span>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span8">
        <span class="span7">员工类型:</span>
        <span class="span14">
          <select name="role"  class="input-span-lg span22">
            <!-- <option value='1'>管理员</option> -->
            <option value="2">普通员工</option>
          </select>
        </span>
      </div>
      <div class="span8">
        <span class="span8">所属公司:</span>
        <span class="span14">
          <input type="text" id="input_companyId" class="span22">
        </span>
      </div>
      <div class="span7">
        <span class="span8">是否有效:</span>
        <span class="span14">
          <select name="effective"  class="input-span-lg span22">
            <option value='true'>是</option>
            <option value="false">否</option>
          </select>
        </span>
      </div>
    </div>
  </form>
</div>

<div id="dialog_update_user" class="hide">
  <form id="form_update_user" class="form-horizontal">
    <input type="hidden" name="userId">
    <div class="row-fluid">
      <div class="span8">
        <span class="span7">员工帐号:</span>
        <span class="span14" data-view="userId">
        </span>
      </div>
      <div class="span8">
        <span class="span8">密码:</span>
        <span class="span14">
          <input type="text" name="password" class="span22">
        </span>
      </div>
      <div class="span7">
        <span class="span8">姓名:</span>
        <span class="span14">
          <input type="text" name="userName" class="span22">
        </span>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span8">
        <span class="span7">员工类型:</span>
        <span class="span14" data-view="roleString">
        </span>
      </div>
      <div class="span8">
        <span class="span8">所属公司:</span>
        <span class="span14">
          <!-- <input type="text" id="input_companyId" class="span22"> -->
        </span>
      </div>
      <div class="span7">
        <span class="span8">是否有效:</span>
        <span class="span14">
          <select name="effective"  class="input-span-lg span22">
            <option value='true'>是</option>
            <option value="false">否</option>
          </select>
        </span>
      </div>
    </div>
  </form>
</div>

<script type="text/javascript" src="/javascripts/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/bui/seed-min.js"></script>
<script type="text/javascript" src="/javascripts//main.js"></script>
<script type="text/javascript" src="/javascripts//global.js"></script>
<script type="text/javascript" src="/javascripts//autocomplete.js"></script>
<script type="text/javascript" src="/javascripts/assets/user.js"></script>