<span><%=user.userName%></span>
<a href="/logout">退出</a>
<button id="btn_change_password" class="button button-primary button-mini" title="修改密码"><i class="icon-cog icon-white"></i> </button>


<div style="display:none" id="dialog_chang_password">
  <form id="form_chang_password" class="form-horizontal">
    <div class="row-fluid">
          <input type="text" placeholder='旧密码' name="password_old" class="span24">
    </div>
    <div class="row-fluid">
          <input type="text" placeholder='新密码' id="password_new1" name="password_new1" class="span24">
    </div>
    <div class="row-fluid">
          <input type="text" placeholder='重复密码' data-rules="{equalTo:'#password_new1'}" name="password_new2" class="span24">
    </div>
  </form>
</div>